    /* Footer */

    .foot-container{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .foot-logo {
        margin-bottom: 20px;
    }

    .foot{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-right: auto;
        margin-left: auto;

        background-color:  var(--primery-bg-color);

        .link{
            margin-top: 9px;
        }

        .address{
            margin-top: 20px;
            line-height: 1.71;
        }

        .contact {
            font-style: normal;
            color: var(--foot-contacts-color);
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: var(--main-cucubic-bezier);
        }

        &:hover,
        &:focus{
        color: var(--primery-white-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
        }

        .icon-link{
        background-color: rgba(255, 255, 255, 0.1);
        }

        &:hover,
        &:focus{
        background-color: var(--accent-color);
        }

        .social-icon{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;

            .icon{
            fill: var(--primery-white-color);
            }
        }
    }

    .address .place{
        font-style: normal;
        color: var(--primery-white-color);
    }