     /* foot form */

     .foot-form-group{
        display: flexbox;

    }

    .foot-form-title{
        font-weight: bold;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 20px;
    
        color: #FFFFFF;
    }

    .foot-form-field{
        display: flex;
        align-items: baseline;
    }

    .foot-input{
        width: 358px;
        height: 50px;
        padding:10px 16px;

        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: var(--primery-bg-color);
        border-radius: 4px;

        transition: border 250ms var(--main-cucubic-bezier),
        ouline 250ms var(--main-cucubic-bezier);
    }

    &:focus{
        border: 1px solid var(--accent-color);
        outline: var(--accent-color);
        transition: border 250ms var(--main-cucubic-bezier),
        ouline 250ms var(--main-cucubic-bezier);
    }