.logo{ 
    display: inline-block;
    margin-right: 93px;

    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo .web,
.foot .web{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    }

.logo .studio{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color:  var(--title-text-color);
}

.foot-logo {
    margin-bottom: 20px;
}

.studio-foot{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primery-white-color);
}