    /*  modal window */

    .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
        top: 0;
        left: 50%;

        transform: translateX(-50%);
        transition: opacity 250ms var(--main-cucubic-bezier);

        .is-hidden{
            opacity: 0;
            pointer-events: none;
            
            transform: translateX(50%);
            transition: opacity 250ms var(--main-cucubic-bezier);
        
        }
    }

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;

        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .modal-btn{
        position: absolute;
        flex-direction: row-reverse;
        align-items: center;

        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        box-sizing: border-box;
    }

    .modal-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill:var(--title-text-color);
        margin: 0;
        width: 18px;
        height: 18px;

        transition: fill 250ms var(--main-cucubic-bezier);
    }

    &:hover,
    &:focus{
        fill: var(--accent-color);
        transition: fill 250ms var(--main-cucubic-bezier);
    }