    /* our team */

    .team {
        display: flex;
        justify-content: center;
        background:var(--teem-bg-color);
        
        .item{
            background-color: var(--primery-white-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        
            +.item {
                margin-left: 30px;
            }
        }
    }

    .social-icon {
        display: flex;
        justify-items: center;
        margin-left: 32px;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .icon-link{
        display: flex;
        padding: 12px 12px;
        width: 44px;
        height: 44px;
        color: var(--social-site);
        border: none;
        border-radius: 100%;
        background-color: var(--primery-white-color);

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);

        +.icon-link{
            margin-left: 10px;
        } 
    }

    &:hover,
    &:focus{
        background-color: var(--accent-color);
        color: var(--primery-white-color);

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .icon{
        display: flex;
        fill: currentColor;
        width: 20px;
        height: 20px;
    }